* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.coluna-azul {
    position: fixed;
    left: 0;
    top: 0;
    width: 5vw;
    height: 100vh;
    background-color: #135b7a;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 30vh;
    font-size: 50px;
    color: #135b7a;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    text-align: center;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-text {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    height: 100px; 
    overflow-y: auto; 
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#btnTranslate {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnTranslate:hover {
    background-color: #0056b3;
}

.flag {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.flag.usa {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/640px-Flag_of_the_United_States.svg.png");
}

.flag.spain {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Bandera_de_Espa%C3%B1a.svg/640px-Bandera_de_Espa%C3%B1a.svg.png");
}
